@import "tailwindcss";



@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');



button:hover{
  cursor: pointer;
  background-color: #302F4A;
}

hr{
  color: #3C3B5E;
  height: 2px;
}